.container {
    width: 800px;
}

.media {
    margin-top: 20px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(238, 237, 237, 0.33);
    color: rgb(105, 104, 104);
    font-family: sans-serif
}

.container {
    background-color: #ffffff;
    border-color: #ffffff;
    align-items: center;
    border-radius: 1rem;
    vertical-align: middle
}

@media(max-width:767px) {
    .container {
        height: fit-content
    }
}

#location-in {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    box-shadow: none;
}

.weather {
    width: 85%
}

@media(max-width:767px) {
    .weather {
        width: 100%
    }
}

.card {
    padding: 1rem;
    margin: 1.5rem 4vw;
    border-radius: 1rem;
    background-color: rgba(238, 237, 237, 0.22);
    border-color: rgba(238, 237, 237, 0.22);
    box-shadow: 5px 6px 6px 2px #e9ecef;
    text-align: center
}

@media(max-width:768px) {
    .card {
        margin: 1.5rem
    }
}


.title {
    justify-content: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.title p {
    margin-bottom: 0.2rem;
    font-size: 1.2rem
}

.temp {
    font-size: 2.6rem;
    margin-top: 0.4rem;
}


.desc {
    color: #6E6E6E;
}

.col-3 {
    padding: 0 0.2rem
}

.col-2 {
    border-right: 1px solid #DDDDDD;
    font-size: 0.9rem;
}

.col-2:last-child {
    border-right: none;
}

.daily-block {
    position: absolute;
    width: 70%;
    bottom: 0;
    text-align: center;
}

.daily-desc {
    margin-bottom: 60px;
}

.forecast img {
  margin: 15px 0px;
}

.icon {
    align-self: flex-end;
    margin-right: -2.5rem;
    margin-top: -2rem;
    z-index: 999
}

.time {
    align-self: flex-start;
    margin-right: -2.5rem;
    margin-top: -2rem;
    z-index: 999
}

.icon img {
    width: 5rem
}

.daily-desc {
    text-align: center;
}

.daily-temp {
    align-items: center;
    font-size: 1rem;
}

.footer {
    font-size: 10px;
}
