.media {
    margin-top: 20px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(238, 237, 237, 0.33);
    color: rgb(105, 104, 104);
    font-family: sans-serif
}

.container {
    background-color: #ffffff;
    border-color: #ffffff;
    align-items: center;
    border-radius: 1rem;
    vertical-align: middle
}

#location-in {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    box-shadow: none;
}

.row {
    padding: 0 15;
}

.col-md-12 {
    align-items: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.col-md-2 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.wide-card {
    padding: 1rem;
    background-color: rgba(238, 237, 237, 0.22);
    text-align: center;
    border: 0.5px solid #CACACA;
}

.temp {
    font-size: 2.6rem;
    margin-top: 10px;
}

.small-card {
    height: 225px;
    padding: 1rem;
    background-color: rgba(238, 237, 237, 0.22);
    text-align: center;
    border: 0.5px solid #CACACA;
}

.daily-bottom {
    position: absolute;
    bottom: 10;
    left: 0;
    right: 0;
}

.date-time {
    margin-top: 25px;
}

.title p {
    margin-bottom: 0.2rem;
    font-size: 30px;
}

.desc {
    color: #6E6E6E;
    margin-bottom: 0;
}

.date {
    text-align: center;
}

.daily-icon {
    text-align: center;
}

.daily-desc {
    width: 100%;
    margin-bottom: 10px;
}

.small-card img {
  margin: 15px 0px;
}

.time {
    align-self: flex-start;
    margin-right: -2.5rem;
    margin-top: -2rem;
    z-index: 999
}

.daily-desc {
    text-align: center;
}

.daily-temp {
    align-items: center;
    font-size: 1rem;
}

.footer {
    font-size: 10px;
}
